* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../imagens/Ifood.png);
  background-size: cover;
}
.container{
  max-width: 1200px;
  padding: 20px;
}
