.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.main-header {
  position: relative;
  max-width: 95%;
}
.main-header::after {
  content: " ";
  display: block;
  border-bottom: solid 1px #6767679b;
  width: 100%;
  position: absolute;
  /* margin-top: -40px; */
  transition: all 1.5s;
}

.logo img {
  width: 120px;
}

.menu-flex {
  display: flex;
  gap: 0px 40px;
  flex-wrap: wrap;
}
.menu-flex li a {
  font-size: 20px;
  font-family: "Poppins";
  color: #676767;
  font-weight: medium;
  padding-block: 20px;
}
.menu-flex li a:hover {
  color: #f27457;
}

@media (max-width: 800px) {
  .main-menu .logo {
    margin-left: 15px;
  }
  .menu-flex {
    display: none;
  }
  .main-header::after {
    display: none;
  }

  .menu-mobile {
    font-size: 32px;
    margin-right: 20px;
  }
}

@media (min-width: 801px) {
  .menu-mobile {
    display: none;
  }
}
